In [3]:
import pandas as pd
import glob
import numpy as np
import json
import math
from natsort import natsorted

In [2]:
data = pd.read_json("/home/ravi/raviProject/DATA/allChatsRepliesCombinedFilteredUrlNaN.json", orient='records')

In [3]:
data.shape

(2301110, 5)

In [4]:
data.head(5)

,msgDate,msg,replyDate,reply,telegramChannel
0,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611532985,"Keep on keepin’ on. May the Trinity, the Fathe...",AlexJones.json
1,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611538372,They are really messing with the signal right ...,AlexJones.json
2,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611540892,,AlexJones.json
3,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611541436,Wow comments are on.,AlexJones.json
4,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611542543,The other day when I called in and spoke with ...,AlexJones.json

In [5]:
df = data.copy()

In [6]:
sampled_df = df.sample(n=10000, replace=False, random_state=42)

In [7]:
sampled_df.shape

(10000, 5)

In [1]:
sampled_df.head(5)

NameError: name 'sampled_df' is not defined

In [8]:
sampled_df.to_json('/home/ravi/raviProject/DATA/Annotate/sampled_V1.json', orient='records')

In [4]:
# sampled_df=pd.read_json('/home/ravi/raviProject/DATA/Annotate/sampled_V1.json', orient='records')
# # Save DataFrame as JSONL (JSON Lines)
# with open('/home/ravi/raviProject/DATA/Annotate/sampled_V1.jsonl', 'w') as f:
#     sampled_df.to_json(f, orient='records', lines=True)

In [10]:
remaining_df = df.drop(sampled_df.index)

In [11]:
remaining_df.shape

(2291110, 5)

In [12]:
remaining_df.to_json('/home/ravi/raviProject/DATA/Annotate/remaining_V1.json', orient='records')

In [14]:
remaining_df.head(5)

,msgDate,msg,replyDate,reply,telegramChannel
0,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611532985,"Keep on keepin’ on. May the Trinity, the Fathe...",AlexJones.json
1,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611538372,They are really messing with the signal right ...,AlexJones.json
2,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611540892,,AlexJones.json
3,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611541436,Wow comments are on.,AlexJones.json
4,1611529552,Leftist Eviro. Plan For Total Planetary Serfdo...,1611542543,The other day when I called in and spoke with ...,AlexJones.json