In [14]:
import pandas as pd
import glob
import numpy as np
import json
import math
import matplotlib.pyplot as plt
import seaborn as sns

## Negative samples > 50 words

In [6]:
import pandas as pd
df = pd.read_json("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/negRepliesFilteredBy4Models/neg50words.json", orient='records')

In [7]:
df.head(1)

,date_unixtime,reply,tfSent,VADERSent,AfinnSent,TextBlobSent,subreddit,num_words
0,1618427406,"First of all I'm a vet so understand OPSEC, th...",negative,negative,negative,negative,WhiteLivesMatter,67

In [8]:
df.shape

(12156, 8)

# Sample 800 to get enough samples to develop develop Threat Levels

## V1 200

In [10]:
# Sample the DataFrame with replacement
n=200
sampled_df = df.sample(n=n, replace=False)

print(len(sampled_df))

# Drop the sampled rows from the DataFrame
df = df.drop(sampled_df.index)
print(len(df))

200
11956

In [11]:
df.to_json("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_11956.json", orient='records')

In [14]:
sampled_df.to_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_200.csv")

### annotated

In [25]:
OA=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_200_OA.csv")

In [26]:
OA.head(1), OA.shape

(   date_unixtime                                              reply  ChatGPT
 0     1676857269  We our war with the old criminal system.  They...        3,
 (200, 3))

In [27]:
OA['ChatGPT'].value_counts()

6    90
2    47
5    21
1    19
3    14
4     9
Name: ChatGPT, dtype: int64

In [28]:
sum(OA['ChatGPT'].value_counts())

200

## V1 500

In [29]:
df=pd.read_json("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_11956.json", orient='records')

In [30]:
# Sample the DataFrame with replacement
n=500
sampled_df = df.sample(n=n, replace=False)

print(len(sampled_df))

# Drop the sampled rows from the DataFrame
df = df.drop(sampled_df.index)
print(len(df))

500
11456

In [31]:
df.to_json("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_11456.json", orient='records')

In [32]:
sampled_df.to_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_500.csv")

### annotated

In [33]:
OA1=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_500_OA.csv")

In [45]:
OA1.head(1), OA1.shape

(   Unnamed: 0  date_unixtime  \
 0        2973     1667258595

                                                reply  ChatGPT
 0  Hell no. My daughter was chased out of the onl...        5  ,
 (500, 4))

In [46]:
OA1.to_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_500_OA.csv")

In [34]:
OA1.head(1), OA1.shape

(   Unnamed: 0  date_unixtime  \
 0        2973     1667258595

                                                reply  ChatGPT
 0  Hell no. My daughter was chased out of the onl...        5  ,
 (500, 4))

In [35]:
OA1['ChatGPT'].value_counts()

6    247
2    135
1     37
5     32
3     31
4     18
Name: ChatGPT, dtype: int64

In [36]:
sum(OA1['ChatGPT'].value_counts())

500

## V1 100

In [37]:
df = pd.read_json("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_11456.json", orient='records')

In [38]:
# Sample the DataFrame with replacement
n=100
sampled_df = df.sample(n=n, replace=False)

print(len(sampled_df))

# Drop the sampled rows from the DataFrame
df = df.drop(sampled_df.index)
print(len(df))

100
11356

In [39]:
df.to_json("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_11356.json", orient='records')

In [40]:
sampled_df.to_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_100.csv")

### annotated

In [41]:
OA2=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_100_OA.csv")

In [42]:
OA2.head(1), OA2.shape

(   Unnamed: 0  date_unixtime  \
 0        8221     1672059834

                                                reply  ChatGPT
 0  I’m excited to share this! A year ago my mom w...        6  ,
 (100, 4))

In [43]:
OA2['ChatGPT'].value_counts()

6    56
2    21
5     8
4     8
3     6
1     1
Name: ChatGPT, dtype: int64

In [44]:
sum(OA2['ChatGPT'].value_counts())

100

## Sample 30 from each class to develop develop Threat Levels

In [33]:
df100=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_100_OA.csv")
print(df100.shape)
df200=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_200_OA.csv")
print(df200.shape)
df500=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/v1_500_OA.csv")
print(df500.shape)

(100, 4)
(200, 3)
(500, 5)

In [34]:
df800 = pd.DataFrame()
df800['date_unixtime'] = df100['date_unixtime'].append(df200['date_unixtime']).append(df500['date_unixtime'])
df800['reply'] = df100['reply'].append(df200['reply']).append(df500['reply'])
df800['ChatGPT'] = df100['ChatGPT'].append(df200['ChatGPT']).append(df500['ChatGPT'])

In [35]:
df800.shape

(800, 3)

In [36]:
df800.head(10)

   date_unixtime                                              reply  ChatGPT
0     1672059834  I’m excited to share this! A year ago my mom w...        6
1     1672210866  We are 2 years late & a dollar short with our ...        3
2     1655480217  Just another attempt at fest tactics and contr...        2
3     1666953235  Bin telling people to wake up for 20 years, on...        5
4     1671807108  These people are SICK fuck's. Enticing young c...        5
5     1642557698  They Wana be commies then boycott flying . Why...        3
6     1678734657  Stacey Plaskett:  You're a dumba$$.  You're a ...        6
7     1679257167  Franco Tripepi you couldn’t be more incorrect....        6
8     1636418305  You Idiots knew how Corrupt and winded by Chin...        2
9     1675649728  They'll spin this as bad, however, they are mo...        6

In [44]:
df=df800.copy()
sampled_df = pd.concat([df[df['ChatGPT'] == 1].sample(n=30),
                        df[df['ChatGPT'] == 2].sample(n=30),
                        df[df['ChatGPT'] == 3].sample(n=30),
                        df[df['ChatGPT'] == 4].sample(n=30),
                        df[df['ChatGPT'] == 5].sample(n=30),
                        df[df['ChatGPT'] == 6].sample(n=30)])

In [45]:
sampled_df.shape

(180, 3)

In [46]:
sampled_df.head(10)

     date_unixtime                                              reply  ChatGPT
141     1662508109  Well then why tf did you bleachfit your server...        1
183     1670890034  Of course it was STOLEN! The reason why the me...        1
79      1669774135  No.  We aren't doing commercial consumer Chris...        1
62      1650562558  'This bill would delete the requirement that a...        1
76      1678933695  Graham needs to put on his big girl pants and ...        1
175     1666561765  The military isn't the only once people are "a...        1
109     1660253945  Yeah if Provable he’d be arrested and in jail....        1
91      1669269166  I wish they'd report the actual number of deat...        1
403     1658581903  Its worse than that Pelosi ordered the sham in...        1
140     1661576334  I’m guessing that this school loan forgiveness...        1

In [52]:
sampled_df = sampled_df.sample(frac=1)

In [54]:
sampled_df.to_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/ToAnnotate180SamplesOG.csv")

# Compare Annotation by OpenAI-Lizzy-Ravi

## OpenAI

In [81]:
file =  "/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/ToAnnotate180Samples_openAI-classification-subject.ljson"

In [82]:
newOA=[]
with open(file) as fin:
    for cLine in fin:
        cJSON=json.loads(cLine)
        newOA.append(cJSON)

In [84]:
newOA = pd.DataFrame(newOA)

In [85]:
newOA.head(1)

,Unnamed: 0,date_unixtime,reply,openAI-classification
0,123,1679409924,I would ask him to explain why at the beginnin...,2

In [86]:
newOA['openAI-classification'].value_counts()

6                                                                                                                                                                                                                                                                           75
3                                                                                                                                                                                                                                                                           35
2                                                                                                                                                                                                                                                                           32
5                                                                                                                                                                                                                                                                           16
4                                                                                                                                                                                                                                                                           12
1                                                                                                                                                                                                                                                                            8
6. None of the above                                                                                                                                                                                                                                                         1
2. Messages that say the subject of the message is evil, sinful or wicked, or that they are committing heinous crimes like grooming, child abuse, animal abuse, molestation, sexual assault/rape, sex trafficking, torture, terrorism, murder, and mass murder/genocide.     1
Name: openAI-classification, dtype: int64

In [89]:
newOA['openAI-classification'].unique()

array(['2', '6', '3', '5', '4', '1', '6. None of the above',
       '2. Messages that say the subject of the message is evil, sinful or wicked, or that they are committing heinous crimes like grooming, child abuse, animal abuse, molestation, sexual assault/rape, sex trafficking, torture, terrorism, murder, and mass murder/genocide.'],
      dtype=object)

In [92]:
newOA['openAI-classification'] = newOA['openAI-classification'].replace(['6. None of the above'], '6')
newOA['openAI-classification'] = newOA['openAI-classification'].replace(['2. Messages that say the subject of the message is evil, sinful or wicked, or that they are committing heinous crimes like grooming, child abuse, animal abuse, molestation, sexual assault/rape, sex trafficking, torture, terrorism, murder, and mass murder/genocide.'], '2')

In [93]:
newOA['openAI-classification'].unique()

array(['2', '6', '3', '5', '4', '1'], dtype=object)

In [94]:
newOA['openAI-classification'].value_counts()

6    76
3    35
2    33
5    16
4    12
1     8
Name: openAI-classification, dtype: int64

## Lizzy

In [52]:
Liz=pd.read_excel("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/Annotated180Samples_Lizzy.xlsx")

In [53]:
Liz.head(1)

,date_unixtime,reply,Label,Label 2,Label 3,Label 4
0,1679409924,I would ask him to explain why at the beginnin...,2,NaN,NaN,NaN

In [61]:
Liz['Label'].value_counts()

6    50
4    35
1    29
3    24
5    22
2    20
Name: Label, dtype: int64

## Ravi

In [187]:
rav=pd.read_csv("/home/ravi/UCF Dropbox/KAMALAKKANNAN RAVI/guyonDesktop/DATA_AutomatedHarmDetection/Annotate/ToAnnotate180Samples_Ravi_Trial2.csv")

In [189]:
rav.head(1)

,Unnamed: 0,date_unixtime,reply,L0,L1,L2,L3
0,123,1679409924,I would ask him to explain why at the beginnin...,2,NaN,NaN,NaN

In [191]:
rav['L0'].value_counts()

0    101
3     22
5     19
4     15
1     15
2      8
Name: L0, dtype: int64

## Custom Weighted Kappa

In [ ]:
newOA['openAI-classification'] = newOA['openAI-classification'].replace(['6'], '0')
Liz['Label'] = Liz['Label'].replace([6], 0)
rav['L0'] = rav['L0'].replace([6], 0)

In [320]:
# Define the weight matrix
weightsLR = np.array([
    [0, 0.2, 0.2, 0.3, 0.5, 0.5],
    [0.2, 0, 0.1, 0.2, 0.4, 0.4],
    [0.2, 0.1, 0, 0.2, 0.4, 0.4],
    [0.3, 0.2, 0.2, 0, 0.2, 0.1],
    [0.5, 0.4, 0.4, 0.2, 0, 0.3],
    [0.5, 0.4, 0.4, 0.2, 0.3, 0]
])

def customWeightedKappa(y1, y2, weights):
    # Calculate the confusion matrix
    confusion = confusion_matrix(y1, y2)

    # Normalize the confusion matrix to represent probabilities
    total_ratings = np.sum(confusion)
    confusion = confusion / total_ratings

    # Compute the expected probability matrix under the assumption of independence
    ratings_probs = np.sum(confusion, axis=1)
    expected = np.outer(ratings_probs, ratings_probs)

    # Compute the weighted Kappa score
    kappa = 1 - np.sum(weights * confusion) / np.sum(weights * expected)
    
    return kappa

print(customWeightedKappa(rav['L0'], newOA['openAI-classification'].astype('int64'), weights=weightsLR))
print(customWeightedKappa(Liz['Label'], newOA['openAI-classification'].astype('int64'), weights=weightsLR))
print(customWeightedKappa(Liz['Label'], rav['L0'], weights=weightsLR))

0.4504643962848298
0.43366317609760785
0.48554135843981183